################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TechConference/obj
/TechConference/.vs/TechConference/v16/.suo
/TechConference/bin/Debug/netcoreapp3.1
/TechConference/.vs/TechConference/DesignTimeBuild/.dtbcache.v2
